.phone {
  width: 240px;
  height: 480px;
  padding: 10px;
  box-shadow: 0 0 0 2px var(--darkGrey), 0 0 0 10px var(--lightGrey);
  border-radius: 30px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.phone::before {
  content: '';
  width: 100px;
  height: 20px;
  background-color: var(--lightGrey);
  position: absolute;
  top: -2px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 5;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom: 2px solid var(--darkGrey);
  border-left: 2px solid var(--darkGrey);
  border-right: 2px solid var(--darkGrey);
}
.phone .foto-user {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: var(--superLightGrey);
  margin-top: 15px;
  overflow: hidden;
  border: 1px solid var(--grey);
  display: flex;
  align-items: center;
  justify-content: center;
}
.phone .foto-user img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.phone .name-user,
.phone .email-user {
  width: 150px;
  height: 20px;
  background-color: var(--superLightGrey);
  margin-top: 5px;
  text-align: center;
}
.phone .email-user {
  height: 15px;
  margin-bottom: 10px;
}
