.preview-pages {
  height: 100vh;
  width: 100%;
}

.preview-pages .links {
  padding: 80px 20px 20px 20px;
  grid-template-columns: 1fr;
}

.preview-pages .phone-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.preview-pages .customize-links {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.wrapper-link {
  padding: 8px;
}
